body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	height: 100%;
	background-color: #eee;
	-webkit-font-smoothing: antialiased;
}
/*for the sign in page and sign up page*/
#logo {
	font-size: 24px;
	line-height: 30px;
	width:880px;
	margin: 30px auto;
	position: relative;
}
#topinfo
{
	width:829px;
	margin: 30px auto;
}
.mcontainer {
	margin: 60px auto;
	width: 876px;
	height: 346px;
	border: 2px solid;
	border-color: black;
	border-radius: 3px; 
	position: relative;
}
#leftdiv {
	background-image: url(/ebusiness/image/ad.jpg) ;
	height:346px;
	width:410px;
	background-position: 0px 0px;
}
#rtdiv {
	position: absolute;
	height: 296px;
	width: 312px;
	right:42px;
	top: 0px;
}
#caption {
	margin-top: 20px;
	font-size: 28px;
	margin-bottom: 0px;
}
#logblock{
	margin-top: 30px;
}
form .input-prepend .add-on,
form .input-prepend input {
	height: 30px;
	line-height: 30px;
}
#info {
	height: 20px;
}
.infotxt {
	width: 312px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #7f8c8d;
}
.ltxt {
	display: inline;
}
.rtxt{
	float: right;
	display: inline;
	margin-right: 0px;
}
#regform .control-group{
	margin-top: 25px;
	margin-bottom: 0px;
}
#regform .control-group .control-label {
	width:60px;
}
#regform .control-group .controls{
	margin-left: 70px;
}
#regform .control-group .controls input[type="text"],
#regform .control-group .controls input[type="password"]
{
	width: 225px;
}
#reginfo {
	margin-bottom: 10px;
	height: 20px;
	line-height: 30px;
}
/*for the home page*/
#mybrand {
	color: #049cdb;
	margin-left: 60px;
	margin-right: 20px;
}
.mynav {
	padding-left: 20px;
	padding-right: 20px;
}
ul {
	list-style: none;
}
#maindiv {
	width: 980px;
	display: block;
	background-color:#fff;
	margin: 20px auto;
	padding-top: 20px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
	border-bottom: 2px solid #e2e2e9;
}
#ltitle {
	padding-left: 30px;
	padding-right: 30px;
	line-height: 50px;
	font-size: 25px;
	border-bottom: 1px solid black;
}
#ltitle .btn-group {
	margin-left: 20px;
}
#postnew {
	float: right;
	margin-top: 13px;
}
.plist {
	padding: 10px 30px 15px 30px;
	border-bottom: 1px solid #e2e2e2;

}

#maindiv .plist .avatar {
	float: left;
	margin-right: 20px;
}
#maindiv .plist .ptitle {
	font-size: 18px;
	line-height: 30px;
	margin-left: 100px;
	margin-right: 80px;
}
#maindiv .plist .pinfo {
	font-size: 15px;
	line-height: 30px;
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 80px;
}
#maindiv .plist .tags {
	float: right;
	width: 60px;
}
.tags p span {
	font-size: 14px;
	line-height: 20px;
}
.avatar img {
	width: 80px;
	height: 80px;
	border-radius: 6px;
	display: inline;
}
#userlog {
	font-size: 15px;
	float: right;
	display: block;
	margin-right: 173px;
	overflow: hidden;


}
#userlog li {
	display: inline;
	line-height: 40px;
	padding-left: 12px;
}
#userlog li img {
 	width: 30px;
 	height: 30px;
}
/*show product*/
#pname {
	text-align: center;
	font-size: 40px;
	line-height: 60px;
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	margin-left: 40px;
}
#pimg {
	margin-left: 40px;
	padding-right: 20px;
	background-color: red;
	border: 1px solid black;
}
#pimg img{
	max-width: 480px;
	margin-top: 20px;
}
#paction {
	background-color: green;
	border: 1px solid black;
	display: block;
	width: 325px;
	padding-top: 15px; 
}
#paction ul li {
	line-height: 40px;
}
#addcart {
	margin-left: 20px;
	margin-bottom: 20px;
	height: 20px;
}
#pricetxt {
	font-size: 25px;
	color: red;
	text-decoration: none;
}
#pinfo {
	background-color: black;
	border: 1px solid black;
	padding-left: 25px;
	padding-top: 15px;
}
#ptxt {
	margin-left: 40px;
	padding-left: 20px;
	background-color: white;
	border: 1px solid black;
}
#pdiscuss {
	background-color: red;
}

.lavatar {
	float: left;
}
.lavatar img{
	width: 50px;
	height: 50px;
	display: inline;
	margin-right: 15px;
}
	/*userinfo page*/
#userinfo {
	padding-left: 20px;
}
#userinfo p c {
	line-height: 40px;
	text-decoration: none;
}
#userinfo .lavatar img {
	width: 80px;
	height: 80px;
	display: inline;
	margin-right: 15px;	
}
#postedtb {
	font-size: 15px;
}
.statustag:hover {
	color: #08c;
	text-decoration: none;
}
/*postnew page*/
#addimg {
	margin-left: 180px;
	margin-top: 10px;
}